  <%= form_with model: [ current_user, current_user.messages.build ] do |form| %>
    <div class='container'>
      <div class='row'>
        <div class='column'>
          <p>
            <%= form.label :type_your_note %><br>
            <%= form.text_area :body, class: 'box' %>
          </p>
        </div>

        <div class='column'>
          <p>
            <%= form.submit class: 'msg' %>
          </p>
        </div>
      </div>
    </div>
  <% end %>