<div class='container'>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-5 col-sm-4 offset-md-1 offset-sm-1 col-12 mt-4">
          <%= render 'notes/form' %>
        </div>
      </div>
    </div>
  </section>
</div>
