<div class='container'>

  <section>
    <div class="container">
        <div class="row">
            <div class="col-sm-5 col-md-6 col-12 pb-4">
              <h1>notes</h1>
              <%= render @note %>
            </div>
        </div>
    </div>
  </section>
   
</div>
