<div class='col-md-12 col-12 col-sm-12'>
  <div class='card'>
    <div class='card-header pb-3'>
    </div>
    <div class='card-body'>
      <div class='table-responsive'>
        <table class='table table-striped'>
          <tbody>
            <tr>
              <th class='text-center'>
                <div class='custom-checkbox custom-checkbox-table custom-control'>
                  <input type='checkbox' data-checkboxes='mygroup' data-checkbox-role='dad' class='custom-control-input' id='checkbox-all'>
                  <label for='checkbox-all' class='custom-control-label'>&nbsp;</label>
                </div>
              </th>
              <th>Task Name</th>
              <th>Description</th>
              <th>Start Date</th>
              <th>Action</th>
            </tr>
            <%= render 'tasks/task' %>
          </tbody>
        </table>
      </div>
    </div>          
  </div>
</div>
