<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExample03">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to 'Sign Up', new_user_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'Log In', new_session_path, class: 'nav-link' %>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col">
      <h3 class="font-weight-bolder"> You are not login <h3>
    </div>
  </div>
</div>