
    <footer class="footer">
      <div class="container">
        <div class="footer-copyright text-center">© 2020 Copyright:
          <a href="#"> Technology Scope</a>
        </div>
      </div>
    </footer>