
    <footer class="footer">
      <div class="container">
        <div class="footer-copyright text-center">© <% Time.now.year %> Copyright:
          <a href="#"> Technology Scope</a>
        </div>
      </div>
    </footer>